---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Folder from "../components/Folder.astro";
import Footer from "../components/Footer.astro";
import "../styles/BaseStyle.css";
import Lightbox from "../components/Lightbox.astro";

// Image groups
const groups = {
  team24: [
    { src: "/images/gallery/art/robotics/robotics24-1.jpg", alt: "Team 24124, Sturgeon Meet 1" },
    { src: "/images/gallery/art/robotics/robotics24-2.jpg", alt: "Team 24124, Sturgeon Meet 1" },
    { src: "/images/gallery/art/robotics/robotics24-3.jpg", alt: "Team 24124, Provincial Championships" },
    { src: "/images/gallery/art/robotics/robotics24-4.jpg", alt: "Team 24124, Provincial Championships" },
    { src: "/images/gallery/art/robotics/robotics24-5.jpg", alt: "Team 24124, Fish Bowl" },
    { src: "/images/gallery/art/robotics/robotics24-6.jpg", alt: "Team 24124, Fish Bowl" },
    { src: "/images/gallery/art/robotics/robotics24-7.jpg", alt: "Team 24124, NTHS Scrimmage" },
    { src: "/images/gallery/art/robotics/robotics24-8.jpg", alt: "Team 24124, NTHS Scrimmage" }
  ],
  team26: [
    { src: "/images/gallery/art/robotics/robotics26-1.jpg", alt: "Team 26145, Sturgeon Meet 1" },
    { src: "/images/gallery/art/robotics/robotics26-2.jpg", alt: "Team 26145, Atlatl Meet 1" },
    { src: "/images/gallery/art/robotics/robotics26-3.jpg", alt: "Team 26145, Atlatl Meet 1" },
  ],
  team30: [
    { src: "/images/gallery/art/robotics/robotics30-1.jpg", alt: "Team 30645, NTHS Scrimmage" },
    { src: "/images/gallery/art/robotics/robotics30-2.jpg", alt: "Team 30645, NTHS Scrimmage" },
    { src: "/images/gallery/art/robotics/robotics30-3.jpg", alt: "Team 30645, NTHS Scrimmage" },
    { src: "/images/gallery/art/robotics/robotics30-4.jpg", alt: "Team 30645, NTHS Scrimmage" },
    { src: "/images/gallery/art/robotics/robotics30-5.jpg", alt: "Team 30645, NTHS Scrimmage" },
  ],
  robotics: [
    { src: "/images/gallery/art/robotics/robotics-1.jpg", alt: "Team 22029, Provincial Championships" },
    { src: "/images/gallery/art/robotics/robotics-2.jpg", alt: "NTHS Fish Bowl" },
    { src: "/images/gallery/art/robotics/robotics-3.jpg", alt: "NTHS Fish Bowl" },
    { src: "/images/gallery/art/robotics/robotics-4.jpg", alt: "NTHS Fish Bowl" },
    { src: "/images/gallery/art/robotics/robotics-5.jpg", alt: "Team 22029, Provincial Championships" },
    { src: "/images/gallery/art/robotics/robotics-6.jpg", alt: "NTHS Scrimmage" },
    { src: "/images/gallery/art/robotics/robotics-7.jpg", alt: "Team 27015, Provincial Championships" },
    { src: "/images/gallery/art/robotics/robotics-8.jpg", alt: "Team 5009, NTHS Scrimmage" },
    { src: "/images/gallery/art/robotics/robotics-9.jpg", alt: "Team 7277, NTHS Scrimmage" },
    { src: "/images/gallery/art/robotics/robotics-10.jpg", alt: "Team 21595, Provincial Championships" },
    { src: "/images/gallery/art/robotics/robotics-11.jpg", alt: "Bingle" }
  ],
  art: [
    { src: "/images/gallery/art/Artboard 4.png", alt: "Silly Pets" },
    { src: "/images/gallery/art/lvespls.png", alt: "Love Spells Portrait" }
  ]
};


---

<BaseLayout title="The Gallery.">
  <div id="page">
    <Header />

    <div id="content">
      <section class="intro">
        <Folder 
            title="Team 24124" 
            fullGroupItems={groups.team24} 
            group="team24" 
            startTop={100} 
            startLeft={99} 
          />
          <Folder 
            title="Team 26145" 
            fullGroupItems={groups.team26} 
            group="team26" 
            startTop={70} 
            startLeft={189} 
          />
          <Folder 
            title="Team 30645" 
            fullGroupItems={groups.team30} 
            group="team30" 
            startTop={160} 
            startLeft={179} 
          />
          <Folder 
            title="Robotics Events" 
            fullGroupItems={groups.robotics} 
            group="robotics" 
            startTop={123} 
            startLeft={310} 
          />
          <Folder 
            title="Featured" 
            fullGroupItems={groups.art} 
            group="art" 
            startTop={138} 
            startLeft={1600} 
          />
        <div class="mainText">
          <h1>The Gallery.</h1>
          <p>Explore my Photography and Digital Art.</p>

          
        </div>
      </section>

  

      <!-- Global Lightbox -->
      <Lightbox />
    </div>

    <Footer />
  </div>
</BaseLayout>


